.neumorphic-toggle {
    --button-shadow-pressed: inset 5px 5px 10px var(--shadow-dark), inset -5px -5px 10px var(--shadow-light);
    width: 60px;
    height: 34px;
    border-radius: 17px;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    background-image: linear-gradient(
        135deg,
       #f0eeee,
       #bdbcbc
    );
    box-shadow: 6px 6px 12px var(--shadow-dark), -6px -6px 12px var(--shadow-light);
    transition: all 0.3s ease;
    outline: none;
}

.neumorphic-toggle:not(.toggled-on) {

    box-shadow:
        0px 0px 8px 2px var(--external-glow-color),
        2px 2px 12px var(--shadow-dark),
        -6px -6px 12px var(--shadow-light);

}

.moon-icon svg {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
}

.neumorphic-toggle:not(.toggled-on) .moon-icon svg {
    fill: var(--icon-color);
    filter: none;
    transition: all 0.3s ease;
}

.toggled-on {
    box-shadow: var(--button-shadow-pressed);
    filter: none;
}

.toggled-on .moon-icon svg {
    color: var(--icon-dark-glow);
    fill: var(--icon-color);
    filter:
        drop-shadow(0 0 1px var(--external-glow-color)) drop-shadow(0 0 5px var(--external-glow-color));
    transition: all 0.3s ease;
}

.dark .neumorphic-toggle {
    box-shadow: 6px 6px 12px var(--shadow-dark), -6px -6px 12px var(--shadow-light);
    background: var(--bg-color);
}

.dark .toggled-on {
    background: none;
    background-image: linear-gradient(
        135deg,
        #333333,
        var(--bg-color)
    );
    box-shadow: 0px 0px 10px 1px #000000;
}