* {
    -webkit-tap-highlight-color: transparent;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg-color: #e0e0e0;
    --text-color: #213547;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(255, 255, 255, 0.8);
    --external-glow-color: #ffffff;
    --icon-color: #333;
}

.main-nav {
    display: flex;
    justify-content: right;
    padding: 1rem;
    width: 100%;
}

.dark {
    --bg-color: #1a1a1a;
    --text-color: #e0e0e0;
    --shadow-dark: #00000099;
    --shadow-light: #ffffff0d;
    --external-glow-color: #c2f1fc;
    --icon-color: #e0faff;
}


body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.4s ease, color 0.4s ease;
    font-family: sans-serif;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}